.app{
    height: 100vh;
    overflow-y: scroll;
    background: url('../../assets/bg-space.jpg') center / cover no-repeat;
}

.content{
    min-height: 100%;
    padding-top: 15px;
    margin: 0 auto;
    width: 60rem;
    display: flex;
    flex-direction: column;
}
@media(max-width: 992px){
    .content{
        width: 46rem;
    }
}
@media(max-width: 768px){
    .content{
        width: 36rem;
    }
}
@media(max-width: 576px){
    .content{
        width: 24rem;
    }
}
@media(max-width: 375px){
    .content{
        width: 20rem;
    }
}