.wrapper{
    margin-top: 4rem;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.panel{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:#fff;
    &-item{
        width: 33%;
    }
}
.score{
    text-align: end;
}
.number{
    text-align: center;
}
@media(max-width: 992px){
    .wrapper{
        margin-top: 2rem;
    }
}
@media(max-width: 768px){
    .panel-item{
        font-size: 10px;
    }
    .number{
        font-size: 16px;
    }
}
@media(max-width: 576px){
    .wrapper{
        margin-top: 1rem;
    }
}
